

.typotitle{
    height: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.typotext{
    display: block;
    height: 100px;
    margin-top: 10px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.3;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

